// --------------------------------------------------
// Mixins
// --------------------------------------------------

// font-size in rem
font-size(size) {
    font-size '%spx' % size;
    font-size (size / 16) * 1rem;
}
