.page-home {
    position relative
    padding 20vh 0 20vh 10vw
    width 70vw

    @media screen and (max-width: 1023px) {
        padding 10%
        width 100%
    }

    &__intro, &__contact {
        font-weight 800

        p {
            font-size 4vh
            margin-bottom 2.5vh

            @media screen and (max-width: 1023px) {
                font-size 22px
                line-height 1.25
            }
        }
    }


    .project-group {
        margin-bottom 2.5vw
        &__date {
            font-size 12px
            font-weight 800
        }
        &__link {
            font-size 16px
            line-height 1.25
        }
    }

    .social-networks {
        margin 0
        padding 0
        a {
            font-weight 400
            @media screen and (max-width: 1023px) {
                display block
                padding 5px 0
            }

            @media screen and (min-width: 1024px) {
                & + a {
                    margin-left 20px
                }
            }

        }
    }

    .contact-mail {
        white-space: nowrap;
    }
}
