<div class="page-home">
    <section class="page-home__intro">
        <p>Yo I’m Adrien &#9996;<br>20 y/o creative developer and student in Interactive Design & Development at <a href="https://gobelins-school.com" target="_blank">Gobelins school</a>, Paris.</p>
        <p>I’ve been working at <a href="http://www.convoy.me" target="_blank">Convoy</a> as an interactive developer the last 2 years.</p>
        <p class="hidden-s">Check out some of my latest projects:</p>
    </section>
    <section class="page-home__projects hidden-s">
        <article class="project-group">
            <p class="project-group__date">2018</p>
            <p class="project-group__item">
                <a class="project-group__link" href="http://www.convoy.me" target="_blank">Convoy - React</a>
            </p>
            <p class="project-group__item">
                <a class="project-group__link" href="https://bo-house.com" target="_blank">Bo-House - React / WP API</a>
            </p>
            <p class="project-group__item">
                <a class="project-group__link" href="http://c-ts.co" target="_blank">C-TS - React / Pixi.js</a>
            </p>
        </article>
        <article class="project-group">
            <p class="project-group__date">2017</p>
            <p class="project-group__item">
                <a class="project-group__link" href="https://codepen.io/Shaolin405" target="_blank">Codevember - Three.js</a>
            </p>
            <p class="project-group__item">
                <a class="project-group__link" href="https://www.behance.net/gallery/62567111/Punchy-Vegan-Punching-ball-identity" target="_blank">Punchy - IOT / Arduino / node.js</a>
            </p>
            <p class="project-group__item">
                <a class="project-group__link" href="http://polymn.avdp.xyz" target="_blank">Polymn - React / Three.js / Spotify API</a>
            </p>
        </article>
        <article class="project-group">
            <p class="project-group__date">2016</p>
            <p class="project-group__item">
                <a class="project-group__link" href="http://volontiers.com" target="_blank">Volontiers - React / Pixi.js</a>
            </p>
            <p class="project-group__item">
                <a class="project-group__link" href="https://www.behance.net/gallery/38486903/Revelarium-app-RA" target="_blank">Revelarium - Unity / Vuforia</a>
            </p>
        </article>
    </section>
    <section class="page-home__contact">
        <p>I’m looking for new opportunities worldwide.<br>Feel free to contact me at <a href="mailto:yo@avdp.xyz" target="_blank" class="contact-mail">yo&#127744;avdp.xyz</a></p>
        <ul class="social-networks">
            <a class="social-networks__link" href="https://twitter.com/avanderpotte" target="_blank">&rarr; Twitter</a>
            <a class="social-networks__link" href="https://codepen.io/avdp/" target="_blank">&rarr; Codepen</a>
            <a class="social-networks__link" href="https://github.com/avanderpotte" target="_blank">&rarr; Github</a>
            <a class="social-networks__link" href="https://www.linkedin.com/in/adrienvanderpotte/" target="_blank">&rarr; Linkedin</a>
            <a class="social-networks__link" href="http://avdp.xyz/static/resume-adrien-vanderpotte.pdf" target="_blank">&rarr; Resume</a>
        </ul>
    </section>
</div>
