.overflow-h {
    overflow hidden
}
.pos-f-tl {
    position fixed
    top 0
    left 0
}
.fit {
    width 100%
    height 100%
}

.hidden-s {
    @media screen and (max-width: 1023px) {
        display none
    }
}
